{% extends 'admin_index.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">
    <div class="container mt-4">
        <h2 class="font-weight-bold text-primary text-center">Edit Gradient Category</h2>

        <!-- Form to edit a gradient category -->
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm p-4">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Gradient Category Field -->
                            <div class="form-group mb-3">
                                <label for="gradientCategory"><b>{{ form.gradient_category.label }}</b></label>
                                <input type="text" id="gradientCategory" name="gradient_category" class="form-control" value="{{ form.gradient_category.value|default_if_none:'' }}" required>
                            </div>

                            <!-- Save Button -->
                            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                            <a href="{% url 'admin_app:gradient_category_list' %}" class="btn btn-secondary mt-3 ms-2">Back to list</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
