{% extends 'admin_index.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">
    <div class="container mt-4">
        <h2 class="font-weight-bold text-primary text-center">Icons List</h2>
        
        <!-- Icons table -->
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Icon</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Shape</th>
                    <th>Plan</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for icon in icons %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ icon.image.url }}" alt="{{ icon.image_name }}" width="50"></td>
                    <td>{{ icon.image_name }}</td>
                    <td>{{ icon.category.category }}</td>
                    <td>{{ icon.category_type.category_type }}</td>
                    <td>{{ icon.category_shape.category_shape }}</td>
                    <td>{{ icon.image_plan }}</td>

                    <td>
                        <a href="{% url 'admin_app:edit_icon' icon.id %}" class="btn btn-dark btn-sm">Edit</a>
                        <a href="{% url 'admin_app:delete_icon' icon.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this icon?');">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
