{% extends 'admin_index.html' %}
{% load static %}

{% block main %}
<main id="main" class="main">
    <div class="container mt-4">
        <h2 class="text-center">Payment Details</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Subscription Plan</th>
                    <th>Payment ID</th>
                    <th>Start Date</th>
                    <th>Expiry Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr>
                    <td>{{ payment.user.username }}</td>
                    <td>{{ payment.plan.name }}</td>
                    <td>{{ payment.payment_id }}</td>
                    <td>{{ payment.start_date|date:"d M Y, H:i" }}</td>
                    <td>{{ payment.expiry_date|date:"d M Y, H:i" }}</td>
                    <td>{{ payment.is_active|yesno:"Active,Inactive" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
