{% extends 'page2.html' %}
{% load static %}
{% block content %}



<div class="container mt-5">
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-4">
            <div class="wow zoomIn col-lg-10" data-wow-delay="0.2s">
                <h1 class="ms-4">Gradient Design Icons </h1>
                <p class="ms-4">150 Creative design icons with fill style. </p>
            </div>
            <div class="wow zoomIn col-lg-2" data-wow-delay="0.2s">
                <p id="shareMessage" style="display:none; color:green;">URL copied to clipboard!</p>
                <button id="shareButton" class="btn text-light w-50 my-3"
                    style=" max-height:35px ; background-color: #ff5733; height: 50px; border-radius: 10px; box-shadow: 0 0.9px 0px 0.007rem #ec2525;">Share
                    <svg xmlns="http://www.w3.org/2000/svg" width="10pt" height="10pt" viewBox="0 0 64 64"
                        style="isolation:isolate" id="share"><defs><clipPath id="a"><rect width="64" height="64"></rect></clipPath></defs><g clip-path="url(#a)">
                            <path
                                d=" M 32.891 30.886 C 17.886 30.886 4.104 43.921 3.744 58.827 C 3.726 59.544 3.528 59.574 3.301 58.893 C 2.593 56.772 2 53.18 2 49.451 C 2 31.206 16.191 16.248 32.837 15.112 C 33.55 15.064 34.129 14.444 34.129 13.729 L 34.129 5.548 C 34.129 4.444 34.874 4.045 35.793 4.657 L 61.599 21.861 C 62.517 22.473 62.517 23.467 61.599 24.08 L 35.793 41.284 C 34.874 41.896 34.133 41.497 34.139 40.393 Q 34.185 31.766 34.185 31.766 C 34.185 31.281 33.605 30.886 32.891 30.886 Z ">
                            </path>
                        </g>
                    </svg>
                </button>
               
            </div>
            <hr class="col-12 col-lg-12">
        </div>
    </div>

   


    <div class="container-fluid py-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row">
            <div class="wow zoomIn" data-wow-delay="0.2s">
                <div class="row justify-content-center ms-3 me-3">
                    {% for image in gradient_image %}
                    <div class="col-10 col-lg-6 mb-4">
                        <div class="icon-card" style=" width: 99%; border: 1px solid gainsboro;">
                            <img src="{{ image.gradient_image.url }}" alt="Icon"
                                style="width: 100%; height: 300px;object-fit: fill; ">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    

    <style>
        .heart-icon {
            font-size: 24px;
            color: #fe0357;
            cursor: pointer;
            transition: color 0.2s ease;
        }

        .heart-icon.liked {
            color: #fe0357;
        }

        .bottom-bar {
            display: flex;
            justify-content: center;
            gap: 10px;

        }

        .bottom-bar button {
            background-color: #ddd;
            border: none;
            border-radius: 5px;
            padding: 10px 5px;
            cursor: pointer;
            font-weight: bold;
        }
    </style>

        <!-- <div class="bottom-bar justify-content-between col-lg-12"
            style="border: 1px solid gainsboro; border-radius: 10px; background-color: #f4f2f2;">
            <i class="far fa-heart heart-icon py-3" id="heartIcon"> 
                <span id="likeCount" class="text-dark">0</span>
                <a href="{% url 'icons_app:like_page' subgradient_category.id %}" class="btn btn-outline-primary">
                    <i class="far fa-heart"></i> Like (<span id="likeCount">{{ total_likes }}</span>)
                </a>            <div class="py-2">
                <button class="btn btn-sm" id="hireButton2" style=" min-width: 90px; background-color: #1EBF41; color: #ffffff;">
                    Hire</button>
                <button class="get-full-access"  style=" background: linear-gradient(86.43deg, #FFE978 0%, #FB4620 47%, #8D20FB 99.5%); color: white;" id="Subscribe4">Get Full Access & 50% Offer</button>
            </div>
        </div> -->
        <div class="bottom-bar justify-content-between col-lg-12"
            style="border: 1px solid gainsboro; border-radius: 10px; background-color: #f4f2f2;">
            {% if request.session.user_id %}
            <a href="{% url 'icons_app:like_page' subgradient_category.id %}" class="btn btn-outline-primary">
                {% if user_has_liked %}
                    <i class="fas fa-heart"></i> Unlike (<span id="likeCount">{{ total_likes }}</span>)
                {% else %}
                    <i class="far fa-heart"></i> Like (<span id="likeCount">{{ total_likes }}</span>)
                {% endif %}
            </a> 
                {% else %}  
                <a href="#popup2" class="btn btn-outline-primary">
                    <i class="far fa-heart"></i> Like (<span id="likeCount">{{ total_likes }}</span>)
                </a> 
                {% endif %}        
                <div class="py-2">
                <button class="btn btn-sm" id="hireButton2" style=" min-width: 90px; background-color: #1EBF41; color: #ffffff;">
                    Hire</button>
                <button class="get-full-access"  style=" background: linear-gradient(86.43deg, #FFE978 0%, #FB4620 47%, #8D20FB 99.5%); color: white;" id="Subscribe4">Get Full Access & 50% Offer</button>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container2 py-2 w-100">
            <div class="wow zoomIn col-lg-10 ms-1 text-dark" data-wow-delay="0.2s">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                    the leap into electronic typesetting, remaining essentially unchanged. It was in the with the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing.</p>
            </div>
        </div>
    </div>


    <div class="container-fluid py-2 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container2 w-100">
            <div class="wow zoomIn" data-wow-delay="0.2s">
                <h3 class="ms-3">You did like more designs?</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container2 py-2 w-100">
            <div class="row ms-1">
                <div class="wow zoomIn" data-wow-delay="0.2s">
                    <div class="icon-grid justify-content-center ">
                        {% for i in sub_gradient_category|slice:":8" %}
                        <div class="icon-card  "
                            style=" border: 1px solid gainsboro; padding: 1px; width: 250px; height: 250px; background-color: #f5f2f2;">
                            <a href="{% url 'icons_app:gra_img' i.id %}">
                                {% if i.featured_image %}
                                <img src="{{ i.featured_image.url }}"
                                    alt="Icon 1" style="width:100%; height: 180px; background-color: #ffffff;">
                                {% else %}
                                <img src="{% static 'images/Favicon.svg' %}"
                                alt="Icon 1" style="width:100%; height: 180px; background-color: #ffffff;">  
                                {% endif %}
                                </a>
                            <h3>{{ i.sub_gradient_category }}</h3>
                            <p>{{ i.gradient_category.gradient_category }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div><br><br>
        </div>
    </div>

    <div class="container-fluid py-2">
        <div class="container2 w-100">
            <div class="row justify-content-center">
                <div class="col-lg-2">
                    <a href="#" class="">  <button class="btn" style="background-color: #f5f2f2; border: 1px solid gainsboro; border-radius: 6px;color:black;"> Back to Home</button> </a>
                </div>
            </div>
        </div>
    </div> 
</div>


<script>
    
    document.getElementById('shareButton').addEventListener('click', function() {
        // Get the current page URL
        const url = window.location.href;

        // Create a temporary input element
        const tempInput = document.createElement('input');
        document.body.appendChild(tempInput);
        tempInput.value = url;

        // Select the input value and copy it to the clipboard
        tempInput.select();
        document.execCommand('copy');

        // Remove the temporary input element
        document.body.removeChild(tempInput);

        // Show a confirmation message
        const message = document.getElementById('shareMessage');
        message.style.display = 'block';

        // Hide the message after 2 seconds
        setTimeout(function() {
            message.style.display = 'none';
        }, 1000);
    });

        document.getElementById('hireButton2').addEventListener('click', function() {
        // Redirect to the form page and scroll to the specific section
        window.location.href = 'http://127.0.0.1:8000/subscription#hireFormSection'; // Replace with your URL and anchor
    });

        document.getElementById('Subscribe4').addEventListener('click', function() {
        // Redirect to the form page and scroll to the specific section
        window.location.href = 'http://127.0.0.1:8000/subscription#subscribePlan'; // Replace with your URL and anchor
    });

</script>
<div id="popup2" class="popup-container popup-style-2">
    <div class="popup-content">
      <a href="#" class="close">&times;</a>
      <!-- <h3>Popup 7</h3> -->
      <p>Login for further process.</p>
      <a href="{% url 'icons_app:login' %}"><button class="btn btn-outline-dark">Login</button></a>
    </div>
  </div>
{% endblock %}